<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            
        </table>
    </div>
    <script>
     var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
            console.log("repsone",this.responseText);
            }
        };
        xhttp.open("GET", "/api/v1/user/asdf", true);
        xhttp.send();

    </script>
</body>
</html>